.col {
  width: 50% !important;
}

.title {
  text-align: center;
}

h3 {
  line-height: 2.6rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.home-hr {
  border: none;
  height: 2rem;
  background-color: white;
}

.phone-hr {
  width: 15rem;
  margin: auto;
  margin-top: 2rem;
  border: none;
  height: 4px;
  background-color: black;
}