.col {
  width: 50% !important;
}

.title {
  text-align: center;
}

h3 {
  line-height: 2.6rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.home-hr {
  border: none;
  height: 2rem;
  margin-bottom: 0;
  background-color: white;
}

.phone-hr {
  width: 15rem;
  margin: auto;
  margin-top: 2rem;
  border: none;
  height: 4px;
  background-color: black;
}

.carousel {
  padding: 0 4rem 0 4rem;
}

.compatible {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 2rem 0 2rem 0;
}

.carriers{
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.carrier {
  width: 9rem;
  height: 4rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.caption {
  font-family: Helvetica Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #333;
  position: relative;
  top: -16rem;
  text-align: center;
}

.ad {
  width: 33.33%;
  margin-top: -3rem;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  float: left;
}

.ad-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #333;
}

.paragraph {
  width: 69%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.shipping {
  width: 3rem;
}

.paypal {
  width: 2.5rem;
  margin-top: 2px;
  margin-bottom: 0.4rem;
}

.gear {
  width: 3rem;
}

.press {
  width: 100%;
}

.signup {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.input {
  display: flex;
  align-content: center;
  justify-content: center;
}

.form-control {
  width: 42% !important;
}

.search-button {
  border-radius: 5px;
  margin-left: 1rem;
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: rgb(87, 52, 140);
  padding: 0.1rem 1.4rem;
}

.search-button:hover {
  text-decoration: underline;
}

.search-button:focus {
  outline: 0;
}

.footer {
  background-color: rgb(32, 34, 35);
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.social {
  display: flex;
  align-content: center;
  justify-content: center;
  list-style-type: none;
}

.social-img {
  width: 2rem;
  margin-right: 2rem;
}

.footer-info {
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin: 2rem 4rem 2rem;
}

.footer-info-name {
  color: white;
}

.footer-info-list {
  color: white;
  list-style-type: none;
  padding-left: 0;
  font-size: 0.75rem;
  line-height: 1.4rem;
  cursor: pointer;
}

.footer-hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2rem 0 1rem;
  padding: 0;
}

.copyright {
  color: white;
  font-size: 0.75rem;
}