.product-hr {
  width: 100%;
  border: none;
  height: 3px;
  background-color: black;
}

.card-img-top {
  height: 23rem;
  transition: all .2s linear;
}

.img-container {
  position: relative;
  overflow: hidden;
  background-color: rgb(250,250,250);
}

.p-5 {
  padding: 2rem !important;
}

.img-container:hover {
  background-color: white;  
}

.img-container:hover .card-img-top{
   transform: scale(1.02);
}

.img-container:hover .product-btn {
  transform: translate(0, 0);
  animation: moveInBottom 0.3s ease-out;
}

.img-footer {
  margin-top: 1.5rem;
  transform: translate(0, 1rem);
  transition: all 0.1s ease-in-out;
}

.img-container:hover .img-footer {
  transform: translate(0, 0);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.list-title {
  margin-top: 3rem;
  margin-bottom: -4rem;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.details-name {
  margin-top: -3rem;
  font-family: "Helvetica";
}

.details-img {
  margin-left: 25%;
}

.modal-img {
  width: 7rem;
}

.modal-btn {
  margin: 1rem auto !important;
}


