:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: rgb(250, 250, 250);
  --mainGray: rgb(133, 142, 150);
  --mainDark: rgb(32, 35, 36);
  --mainYellow: #ffa400; 
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background: var(--mainWhite) !important;
  /* background: black !important; */
  color: var(--mainDark) !important;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.text-title {
  font-family: 'Merriweather', serif !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

