:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: rgb(250, 250, 250);
  --mainGray: rgb(133, 142, 150);
  --mainDark: rgb(32, 35, 36);
  --mainRed: #d63909;
}

body {
  font-family: "Montserrat", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.text-title {
  font-family: "Merriweather", serif !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: #ccc;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 1px solid var(--mainDark) !important;
}

.btn-total {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 1px solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainRed);
}

.shopping-cart {
  font-size: 2.5rem !important;
}